.timer-container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-rows: auto;
    place-items: center;
    margin-top: 30px;
}

.timer {
    width: 500px;
    height: 250px;
    background-color: #BFCFE7;
    border-radius: 20px;
    cursor: default;
    display: grid;
    place-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.timer h1{
    background-color: #BFCFE7;
    font-size: 6rem;
    margin: auto;
    color: #3D3B40;
}

.timer-btn {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.timer-btn button {
    margin: 20px;
    padding: 10px;
    width: 100px;
    color: #EEF5FF;
    font-size: 1.2rem;
    background-color: #3D3B40;
    border-radius: 10px;
    cursor: pointer;
}

.timer-btn button:hover{
    background-color: #fff;
    color: #3D3B40;
    font-weight: 600;
}